/*Base styles*/

body {
  font-family: helvetica, sans-serif;
  font-size: 100%;
  min-width: 340px;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
  text-decoration: underline;
  margin-bottom: 1em;
}

p {
  font-size: 1.5em;
}

a, a:link, a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

/*Layout*/

header {
  background-color: #d7d7d7;
  height: 4em;
}

.icon-menu {
  float: right;
  font-size: 2.5em;
  margin-right: .3em;
}

header h3 {
  padding: 1.5em;
  float: left;
}

header ul {
  display: none;
}

.nav {
  display: none;
  background: rgba(0,0,0,.8);
  height: 93%;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 999;
}

.nav ul li a {
  font-family: helvetica, sans-serif;
  font-size: 3.5em;
  text-decoration: none;
  color: white;
  line-height: 3.5em;
  margin-left: 0.3em;
}

main, section, footer {
  margin-top: 3em;
}

section {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.top-pics img{
  width: 100%;
}

.projects {
  /*position: relative;*/
  width: 100%;
  min-width: 300px;
  margin-left: 0;
  margin-bottom: 10%;
}

/*.projects > div:last-child {
  margin-bottom: 0;
}*/

.template {
  display: none;
}

/*.proj-pic {
  width: 100%;
}*/

/*.proj-text {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  height: 40%;
  width: 100%;
  bottom: 0;
}*/

/*.proj-text p {
  margin-top: 10%;
}*/

.skill-list {
  font-size: 1.5em;
  line-height: 1.5em;
  list-style: circle;
  list-style-position: inside;
}

footer {
  background-color: #d7d7d7;
  height: 4em;
}

footer h4 {
  padding: 1.5em;
}
