/*Modules*/

@media only screen and (min-width: 640px) {
  header ul {
    display: block;
  }

  header ul li {
    padding: 1.5em;
    float: right;
  }

  .icon-menu {
    display: none;
  }

  .projects > div {
    display: inline-block;
    margin-right: 12%;
    margin-left: 0;
    width: 25%;
    min-width: 160px;
    position: relative;
  }

  .projects > div:last-child {
    margin-right: 0;
  }
}
