/*Base styles*/

body {
  font-family: helvetica, sans-serif;
  font-size: 100%;
  width: 80%;
  margin: 0 auto;
}

h2 {
  font-size: 1.5em;
  text-decoration: underline;
}

p {
  font-size: 1em;
}

a, a:link, a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

/*Layout*/

header {
  background-color: #d7d7d7;
  height: 4em;
}

header h3 {
  padding: 1.5em;
  float: left;
}

header ul li {
  padding: 1.5em;
  float: right;
}

main, section {
  margin-top: 3em;
}

.top-pics img{
  width: 100%;
}
